/*bbPress Forums*/

#bbpress-forums li, #bbpress-forums a, #bbpress-forums p, #bbpress-forums div, #bbpress-forums textarea{
  font-size: 16px !important;
}

#bbpress-forums textarea, #bbpress-forums input, #bbpress-forums select {
  border-color: #999;
  color: #333 !important;
}

#bbpress-forums span.bbp-admin-links a{
  color: #666 !important;
}

/*general edits*/
.post-edit-link {
  display: none;
}
/*#wpadminbar {
	display: none;
}*/

.post-edit-link {
	display: block;
}
